.enunciado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
}

.enunciado h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 420px) {
    
    .enunciado {
        width: 250px;
    }

    .enunciado h1{
        font-size: 1rem;
    }
}